.wallheader {
  height: 100px;
  background-color: #400e58;
}

.wallheader h1 {
  font-family: 'Caveat Brush', cursive;
  color: white;
  font-size: 4em;
  margin-top: 20px;
}

h2 (
  font-family: 'Caveat Brush', cursive;
  )

.wall-post {
  margin-top: 25px;
}

.secret_txt {
  font-size: 2em;
  font-family: 'Caveat Brush', cursive;
  font-style: italic;
}

.italic {
  font-style: italic;
}

.red {
  background-color: red;
  color: white;
}
