<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>The Wall - Login</title>
      {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'logreg/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'secrets/css/style.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Caveat+Brush" rel="stylesheet">
  </head>
  <body>
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12 wallheader">
          <h1>DOJO SECRETS</h1>
        </div>
      </div>
      {% if messages %}
      {% for message in messages %}
      {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
      <div class="row red">
        <div class="col-md-6">
          <h4>{{message}}</h4>
        </div>
      </div>
      {% endif %}
      {% endfor %}
      {% endif %}
      <div class="row">
        <div class="col-md-4">
          <h3>Register</h3>
          <form action="{% url 'logreg:register' %}" method="post">
            {% csrf_token %}
            <div class="form-group">
              <label for="first_name">First Name:</label>
              <input type="text" name="first_name" class="form-control">
            </div>
            <div class="form-group">
              <label for="last_name">Last Name:</label>
              <input type="text" name="last_name" class="form-control">
            </div>
            <div class="form-group">
              <label for="email">Email:</label>
              <input type="email" name="email" class="form-control">
            </div>
            <div class="form-group">
              <label for="password">Password:</label>
              <input type="password" name="password" class="form-control">
            </div>
            <div class="form-group">
              <label for="confirm_pw">Confirm Password:</label>
              <input type="pasword" name="confirm_pw" class="form-control">
            </div>
            <button type="submit" name="foo" value="register" class="btn btn-primary">Register</button>
          </form>
        </div>
        <div class="col-md-4">
          <h3>Log In</h3>
          <form action="{% url 'logreg:login' %}" method="post">
            {% csrf_token %}
            <div class="form-group">
              <label for="email">Email:</label>
              <input type="email" name="email" class="form-control">
            </div>
            <div class="form-group">
              <label for="password">Password:</label>
              <input type="password" name="password" class="form-control">
            </div>
            <button type="submit" name="foo" value="login" class="btn btn-primary">Log In</button>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
