<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Most Popular Secrets</title>
      {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'logreg/css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'secrets/css/style.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Caveat+Brush" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  <body>
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12 wallheader">
          <h1>DOJO SECRETS</h1>
        </div>
      </div>
      </div>
      <div class="row">
        <div class="col-md-10 col-md-offset-1">
          <h2>Most Popular Secrets...</h2><a href="{% url 'secrets:secrets' %}">Back</a>
          {% if secrets %}
          {% for secret in secrets|dictsortreversed:'secret_like__count'%}
          <p><span class="secret_txt">{{secret.secret}} </span> {{secret.created_at|timesince}} ago <span class="italic"> {{secret.secret_like.count}} likes</span>
          {% if userObj in secret.get_like_users %}
          <i class="fa fa-thumbs-up" aria-hidden="true"></i>
          {% else %}
          <a href="{% url 'secrets:like' secret.id %}"> Like</a>
          {% endif %}
          {% if request.session.user.id == secret.author.id %}
          <a href="{% url 'secrets:delete' secret.id %}"> Delete</a></p>
          {% endif %}
          {% endfor %}
          {% endif %}
        </div>
      </div>
      </div>
  </body>
</html>
