<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Dojo Secrets</title>
      {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'logreg/css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'secrets/css/style.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Caveat+Brush" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  <body>
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12 wallheader">
          <h1>DOJO SECRETS</h1>
        </div>
      </div>
      {% if messages %}
      {% for message in messages %}
      {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
      <div class="row red">
        <div class="col-md-6">
          <h4>{{message}}</h4>
        </div>
      </div>
      {% endif %}
      {% endfor %}
      {% endif %}
      <div class="row">
        <div class="col-md-10 col-md-offset-1">
          <h2>Hello, {{request.session.user.first_name}}!</h2>
          <h5><a href="{% url 'logreg:logout' %}">Log Out</a></h5>
          <form action="{% url 'secrets:create' %}" method="POST">
            {% csrf_token %}
            <div class="form-group">
              <textarea name="secret" rows="4" cols="175" placeholder="Your secret here..."></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Post</button>
            <a href="{% url 'secrets:popular' %}">Most Popular Secrets</a>
          </form>
        </div>
      </div>
      <div class="row">
        <div class="col-md-10 col-md-offset-1">
          <h2>Recent Secrets...</h2>
          {% if secrets %}
          {% for secret in secrets|dictsortreversed:'created_at' %}
          <p><span class="secret_txt">{{secret.secret}} </span> {{secret.created_at|timesince}} ago <span class="italic"> {{secret.secret_like.count}} likes</span>
          {% if userObj in secret.get_like_users %}
          <i class="fa fa-thumbs-up" aria-hidden="true"></i>
          {% else %}
          <a href="{% url 'secrets:like' secret.id %}"> Like</a>
          {% endif %}
          {% if request.session.user.id == secret.author.id %}
          <a href="{% url 'secrets:delete' secret.id %}"> Delete</a></p>
          {% endif %}
          {% endfor %}
          {% endif %}
        </div>
      </div>
      </div>
  </body>
</html>
